@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-image: url("background.jpg");
  
  background-attachment: fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  background-color: #42676b;
  color: #f0b446;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 0.4rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* 
	canvas {
		position: fixed; 
		bottom: 0; 
		right: 0; 
		padding: 1rem; 
		margin: 1rem;

	} */

.canvas-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgb(2, 8, 15) 2px 20px 30px -10px;
}

.label {
  display: flex;
  flex-direction: row;
  background-color: #fcf5e3;
  color: #42676B;
  align-items: center;
  gap: 10px;
  height: 60px;
  /* width: 30%; */
  border: 1px solid #0a566d;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: rgb(2, 8, 15) 0px 20px 30px -10px;
}

.number {
  font-size: 3rem;
  font-weight: bold;
  padding: 5px;
}

.btn {
  background-color: #e6aa3c;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 13rem;
  box-shadow: rgb(2, 8, 15) 0px 20px 30px -10px;
}

.btn p {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  /* canvas {
    width: 30%;
    height: 30%;
  } */

  /* .container{
	    flex-direction: column-reverse;
		align-items: initial;
  } */
}
